.header-container {
    background-color: var(--background-light);
    color: var(--text-dark);
    padding: 80px 20px;
    /* Ample vertical padding for a grand, minimal feel */
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
    line-height: 1.6;
    /* Subtle separator line */
}

.header-contents {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content-title {
    font-size: 3.5rem;
    margin-bottom: 15px;
    font-weight: 800;
}

.black-text {
    color: black;
}

.red-text {
    color: red;
    /* You can add a subtle animation or hover effect to the red text for flair */
    transition: color 0.3s ease;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.header-content-subtitle {

    font-size: 1.25rem;
    color: #555555;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 400;

}


@media (max-width: 600px) {
    .header-content-title {
        font-size: 2.5rem;
    }
  
}