.hero-banner {
    /* Set a baseline height for desktop/larger screens */
    height: 100vh; 
}
.hero {
  /* margin-top: 40px;
  height: 110vh; */
  /* background-image: url('https://demo.templatesjungle.com/modern/images/singleimage.jpg'); */
  /* background-attachment: fixed; */
  margin-top: 0;
  height: 100%;
  width: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Helvetica Neue', sans-serif; */
 
}

.hero-overlay {
   /* subtle white overlay */
   background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  max-width: 800px;
  padding: 2rem;
}

.hero h1 {
  font-size: 5.65rem;
  font-weight: 600;
  color: #0d0d0d;
  
}

.hero p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #000000;
}

.hero button {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.hero button:hover {
  background: #333;
}

@media (max-width: 1024px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .hero button {
    font-size: 0.95rem;
    padding: 0.7rem 1.8rem;
  }
}

@media (max-width: 768px) {
  .hero-banner {
        /* Reduce the height to a viewable size on mobile, e.g., 60-70vh */
        height: 65vh; 
    }
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero button {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-banner {
        height: 70vh; /* A good height for most phones */
    }
  .hero h1 {
    font-size: 3.6rem;
    text-align: start;
  }

  .hero p {
    font-size: 0.95rem;
    text-align: start;
  }

  .hero button {
    font-size: 0.85rem;
    padding: 0.5rem 1.2rem;
  }
}

