.hero {
  width: 100%;
  height: 100vh;
  background-image: url("/images/main-banner3.jpg"); /* Change image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}



.hero-content {
  text-align: center;
  color: white;
  max-width: 650px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 25px;
}

.hero-content button {
  padding: 12px 28px;
  background: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-content button:hover {
  background: #ddd;
}

/* Responsive */
@media (max-width: 768px) {
  .hero{
    height: 70vh;
  }
  .hero-content h1 {
    font-size: 2.3rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
   .hero{
    height: 80vh;
  }
  .hero-content h1 {
    font-size: 1.8rem;
  }
}