/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-color: #fff;
  color: #000;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;


  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.8s ease;
}

.navbar.sticky {
  box-shadow: 0 2px 8px rgba(65, 7, 7, 0.05);
  background-color: #fff;
}

/* Logo */
.logo {
 width: 120px;
 height: auto;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  transition: color 0.3s ease;
  transition: transform 0.3s ease-in-out; 
  text-transform: uppercase;
}
.nav-links a.active {
  color: #be0000;
}


.nav-links a:hover {
  color: #be0000;
  transform: translate(3px,4px);

}

/* Hamburger menu toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-toggle span {
  height: 2px;
  width: 25px;
  background: #000;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Animate hamburger icon */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar{
     background-color: #fff;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    flex-direction: column;
    width: 70%;
    text-align: left;
    padding: 1rem 2rem;
    border-top: 1px solid #eaeaea;
    transition: all 0.3s ease;
 
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
