.projects {
  padding: 6px;
  background-color: #fff;
  text-align: center;
}

.projects h2 {
  font-size: 3rem;
  margin-top: 2rem;
  color: #000;
  margin-bottom: 4rem;
  letter-spacing: 1px;
  font-weight: bold;

  position: relative; /* Establish position context for the ::after element */
  display: inline-block; /* Ensure the underline only spans the text width */
  padding-bottom: 5px;
}
.projects h2::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  bottom: -4px;
  left: 50%; /* Center the underline */
  transform: translateX(-50%);
  width: 80%; /* Adjust this width for desired length (e.g., 60px) */
  height: 4px; /* Thickness of the underline */
  background-color: #e51d2d; /* Your accent red color */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .projects h2{
    font-size: 24px;
    margin-bottom: 2rem;
  }
}

/* Optional: fallback for very tiny screens */


.project-card {
  border: 1px solid #eaeaea;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease;
 
}

.project-card img {
  width: 100%;
  height:auto;
  display: block;
}

.project-info {
  padding: 1rem;
}

.project-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.project-info p {
  font-size: 0.95rem;
  color: #555;
  margin-top: 0.5rem;
}


