.what-we-do {
  background-color: #ffffff;
  padding: 6px;
  text-align: center;

}

.what-we-do h2 {
    
  font-size: 3rem;
  margin-top: 2rem;
  color: #000;
  margin-bottom: 4rem;
  letter-spacing: 1px;
  font-weight: bold;

  position: relative; /* Establish position context for the ::after element */
  display: inline-block; /* Ensure the underline only spans the text width */
  padding-bottom: 5px;
}

.what-we-do h2::after{
    content: ''; /* Required for pseudo-elements */
  position: absolute;
  bottom: -4px;
  left: 50%; /* Center the underline */
  transform: translateX(-50%);
  width: 80%; /* Adjust this width for desired length (e.g., 60px) */
  height: 4px; /* Thickness of the underline */
  background-color: #e51d2d;
}

.services-grid {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.service-card {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 2rem;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.service-icon {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.service-card h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #222;
}

.service-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.more-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.more-button:hover {
  background-color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 100%;
    max-width: 400px;
    padding: 4px;
  }
  .what-we-do h2 {
    font-size: 24px;
  }
}
